[package]
name = "rust_of_life"
edition = "2021"
version = "0.0.1"

[dependencies]
chrono = "0.4.39"
rand = "0.8.5"
sdl2 = { version = "0.37.0", features = ["ttf"] }

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
panic = "abort"

[profile.dev]
opt-level = 2
